.nav-tabs
    li
      cursor pointer
    .active
      cursor default !important

.control-line
  position relative
  margin-top 30px
  margin-bottom 30px

.glyphicon-remove
   cursor pointer

.drop-model-btn,
.add-model-btn
  margin-right: 15px

.btn-div
  float right
  width auto

@media (max-width: 1000px)
  .btn-div
    width 355px

@media (max-width: 767px)
  .btn-div
    float none
    margin-top 20px
