<div class="signup-state">
    <img src="/images/signup/mid_logo.png"/>
    <div class="signup-state_actual">
        <div class="signup-state_circle active-circle">1</div>
        <div class="signup-state_circle small active-circle"></div>
        <div class="signup-state_circle active-circle">2</div>
        <div class="signup-state_circle small active-circle"></div>
        <div class="signup-state_circle active-circle">3</div>
    </div>
</div>
<div class="congratulation">
    <p class="head-text">Вітаємо</p>
    <p>Реєстрацію завершено</p>
    <img src="/images/signup/cup.png"/>
    <p class="text-gray">Бажаємо успіху у пошуку гарних фахівців!</p>
    <a href="/">Почати пошук→</a>
</div>