<div class="edit" ng-if="test.isEditOpen">
    <div class="edit-bg" ng-click="test.closeEditOpen()"></div>

    <div class="edit-div">
        <span class="glyphicon glyphicon-remove edit-close" ng-click="test.closeEditOpen()"></span>

        <div class="container">
            <div class="page-header">
                <h2>Edit Open Question</h2>
            </div>
        </div>
        <form class="form-horizontal login-form" name="login-form">
            <div class="form-group">
                <label class="col-lg-2 control-label sign-label">question</label>
                <div class="col-lg-8">
                    <input name='filename'
                           type="text"
                           ng-model='test.tmpOpen.question'
                           class="filename form-control"
                           placeholder="Add question">
                </div>
            </div>

            <div class="form-group">
                <label>
                    Open answer
                </label>
                <input type="checkbox" ng-model="test.tmpOpen.isChecked">
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label sign-label">Correct</label>
                <div class="col-lg-8">
                    <input name='title'
                           type="text"
                           ng-model='test.tmpOpen.correct'
                           class="title form-control"
                           placeholder="Add correct answer">
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit"
                        class="btn btn-success"
                        data-loading-text="Sending..."
                        ng-click="test.saveEditOpen()">Save Data</button>
            </div>
        </div>
    </div>
</div>