<div class="subscription-list" ng-if="postList.length">
    <div ng-repeat="post in postList" class="subscription-item" ng-click="toPostPage(post._id)">
        <div class="subscription-list-logo">
            <a href="/company/{{post.authorId}}"><img width="190px" ng-src="{{getLog(post.img)}}"></a>
        </div>
        <span class="subscription-list-title">{{post.job}}</span>
        <span class="subscription-list-inf">
            <a href="/company/{{post.authorId}}">{{post.authorName}}</a>  |
            <span>{{post.city}}</span>  |
            <span>{{getDateFormat(post.date)}}</span>
        </span>
        <div class="subscription-list-about">
            {{post.about}}
        </div>
    </div>
</div>

<div class="subscription-list" ng-if="!postList.length">
    <h1>Ви не маєте підписок</h1>
    <a class="feed-a" href="/feed">Шукати вакансії →</a>
</div>