<div class="signup-state">
    <img src="/images/mid_logo.png"/>
    <div class="signup-state_actual">
        <div class="signup-state_circle active-circle">1</div>
        <div class="signup-state_circle small active-circle"></div>
        <div class="signup-state_circle active-circle">2</div>
        <div class="signup-state_circle small active-circle"></div>
        <div class="signup-state_circle">3</div>
    </div>
</div>
<div class="signup-headtext">
    Реєстрація: <span>Роботодавець</span>
</div>
<div class="signup">
    <div class="signup_form">
        <div class="signup_form-bar">
            <div>Додайте персональні дані</div>
            <a href="#/company/congrats">Пропустити→</a>
        </div>
        <div class="signup_form-input">
            <div class="logo-box">
                <div class="logo">
                </div>
            </div>
            <div class="logo-load"><span>Завантажити</span></div>
            <input type="text" placeholder="Адреса">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Сайт">
            <textarea name="about" placeholder="Про компанію"></textarea>
            <span>Завершити Реєстрацію</span>
        </div>
    </div>
    <div class="signup_info">
        <div class="signup_info-box">
            <div class="signup_conviction" ng-repeat="conviction in info.company_convictions">
                <div>{{conviction.headtext}}</div>
                {{conviction.subtext}}
            </div>
        </div>
    </div>
</div>