<div class="footer">
    <div class="footer_green_bg">
        <p>З радістю відповімо на всі запитання:</p>
        <img src="/images/small_email.png"/>
        <p>workly@gmail.com</p>
    </div>
    <div class="footer_logo_bg">
        <img src="/images/small_logo.png"/>
    </div>
    <ul class="footer_nav-bar">
        <a href="#"><li>Про проекти</li></a>
        <a href="#"><li>Правила</li></a>
        <a href="#"><li>Партнери</li></a>
        <a href="#"><li>Контакти</li></a>
    </ul>
    <a href="#"><div class="footer_workly"><div class="footer_green">W</div>orkly 2015</div></a>
</div>
