<div class="panel panel-default edit-change-password">
    <div class="panel-body">
        Change Password
    </div>
    <div class="panel-footer">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Password</label>

                <div class="col-lg-8">
                    <input name="password"
                           type="password"
                           ng-model="edit.password.password"
                           class="form-control"
                           placeholder="Add Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Confirm Password</label>

                <div class="col-lg-8">
                    <input name="confirm"
                           type="password"
                           ng-model="edit.password.confirm"
                           class="form-control"
                           placeholder="Add Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit"
                            class="btn btn-default"
                            data-loading-text="Sending..."
                            ng-click="changePassword()">
                        Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>