<div class="container">
    <div class="page-header">
        <h2>Edit User</h2>
    </div>
</div>
<form class="form-horizontal login-form" name="login-form">
    <div class="form-group" ng-repeat="item in edit.editModel track by $index">
        <label for='input-{{item.name}}'
               class="col-lg-2 control-label sign-label">
            {{item.name}} <span ng-if="false">{{item.value}}</span></label>

        <div class="col-lg-8">
            <input name='{{item.name}}'
                   type="text"
                   ng-model='edit.editModel[$index].value'
                   class="{{item.name}} form-control"
                   id="input-{{item.name}}"
                   placeholder="Add {{item.name}}">
        </div>
    </div>
    <edit-study></edit-study>
    <edit-work></edit-work>
</form>
