<div class="panel panel-default">
    <div class="panel-body">
        Change Mail
    </div>
    <div class="panel-footer">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">New Mail</label>

                <div class="col-lg-8">
                    <input name="confirm"
                           type="text"
                           class="form-control"
                           ng-model="edit.mail"
                           placeholder="Add mail"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit"
                            class="btn btn-default"
                            data-loading-text="Sending..."
                            ng-click="changeMail()">
                        Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>