<div class="edit" ng-if="edit.status">
    <div class="edit-bg" ng-click="closeEdit()"></div>
    <div class="edit-div">
        <span class="glyphicon glyphicon-remove edit-close" ng-click="closeEdit()"></span>
        <edit-user ng-if="editUserTime()"></edit-user>
        <edit-company ng-if="editCompanyTime()"></edit-company>
        <edit-post ng-if="editPostTime()"></edit-post>
        <edit-admin ng-if="editAdminTime()"></edit-admin>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit"
                        class="btn btn-success"
                        data-loading-text="Sending..."
                        ng-click="saveData()">Save Data</button>
            </div>
        </div>
        <div ng-if="edit.notification.status"
             class="alert alert-{{edit.notification.type}}"
             role="alert">

            <strong ng-if="edit.notification.type == 'danger'">Error! </strong>
            <strong ng-if="edit.notification.type == 'info'">{{edit.notification.text}}</strong>
            <strong ng-if="edit.notification.type == 'success'">Well done! </strong>
        </div>
        <div ng-if="editUserTime() || editCompanyTime()">
            <edit-password></edit-password>
            <edit-mail></edit-mail>
        </div>
    </div>
</div>