<!DOCTYPE html>
<html ng-app="companyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{company.companyName}}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>

    <script src="/vendor/bower_components/angular/angular.js"></script>
    <script src="/vendor/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/vendor/bower_components/angular-route/angular-route.js"></script>
    <script src='/vendor/bower_components/angular-cookies/angular-cookies.js'></script>

    <script src="/js/app.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/companyControllers.js"></script>
    <script src="/js/headerControllers.js"></script>
    <script src="/js/services.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style/companyPage.css">
    <link rel="stylesheet" type="text/css" href="/css/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/style/header.css">
    <link rel="stylesheet" type="text/css" href="/css/css-reset.css">
</head>
<body ng-controller="TemplateCtrl" ng-cloak>
<ng-include src="templatesUrl.header"></ng-include>
<div class="companyPage">
    <!--<div class="companyPage_logo">-->
        <!--<a href="/"><img src="/images/mid_logo.png"></a>-->
    <!--</div>-->
    <div class="companyPage_cards-wrapper" ng-controller="companyPageProfileCtrl">
        <div class="companyPage_tiangle"></div>

        <div class="compamyPage_info-card">
            <div class="compamyPage_info-card_profile">
                <div class="compamyPage_info-card_profile-image">
                    <img ng-src="{{img}}">
                </div>

                <div class="compamyPage_info-card_profile-title">{{companyName}}</div>

                <div class="compamyPage_info-card_profile-contacts">
                    <div class="compamyPage_info-card_profile-contacts_adress" ng-if="contacts">{{contacts}}</div>
                    <div class="compamyPage_info-card_profile-contacts_email" ng-if="mail">
                        <a href="malito:{{mail}}">{{mail}}</a>
                    </div>
                    <div class="compamyPage_info-card_profile-contacts_tel" ng-if="tel">
                        <a href="tel:{{tel}}">{{tel}}</a>
                    </div>
                    <div class="compamyPage_info-card_profile-contacts_website" ng-if="website">
                        <a href="{{website}}">{{website}}</a>
                    </div>
                </div>
            </div>
            <div class="compamyPage_circles"></div>
            <div class="compamyPage_info-card_info"><h1>Про компанію</h1>{{about}}</div>
        </div>
        <div class="compamyPage_vacancy-card" ng-if="posts.length!=0">
            <div class="compamyPage_vacancy-card_title">Вакансії у {{companyName}}</div>
            <div class="compamyPage_vacancy-card_list"  ng-repeat="post in posts">

                <div class="compamyPage_vacancy-card_list_item" ng-controller="companyPageVacLoadingCtrl">
                    <div>
                        <a href="/post/{{post._id}}">
                            {{post.job}}
                        </a>
                    </div>
                    <span>{{post.city}}</span> <span ng-if="post.city && post.date">|</span> <span>{{normalData(post.date)}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-include src="templatesUrl.footer"></ng-include>
</body>
</html>
