<!DOCTYPE html>
<html ng-app="feedApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Feed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>

    <script src="/vendor/bower_components/angular/angular.js"></script>
    <script src="/vendor/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/vendor/bower_components/angular-route/angular-route.js"></script>
    <script src='/vendor/bower_components/angular-cookies/angular-cookies.js'></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/headerControllers.js"></script>
    <script src="/js/services.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style/header.css">
    <link rel="stylesheet" type="text/css" href="/css/style/feed.css">
    <link rel="stylesheet" type="text/css" href="/css/css-reset.css">
</head>
<body ng-cloak>

    <div ng-controller="TemplateCtrl">
        <ng-include src="templatesUrl.header"></ng-include>
    <div class="feedPage" ng-controller="tipsCtrl" ng-init="class='feedPage_header_banner_nav_item'" >
        <div class="feedPage_header">
            <div class="feedPage_header_banner">
                    <div class="feedPage_header_banner_wrapper">
                        <img id="banner1" src="/images/feed/feedBanner1.png" style="left: 0;">
                        <img id="banner2" src="/images/feed/feedBanner2.png" style="left: 100%;">
                    </div>

                <!--<div class="feedPage_header_banner_logo">-->
                    <!--<a href="/">-->
                        <!--<img src="/images/logo.png">-->
                    <!--</a>-->
                <!--</div>-->
            </div>

            <div class="feedPage_searchBlock"  ng-controller="sliderCtrl">
                <div class="feedPage_searchBlock_slogan" ng-bind-html="text">
                </div>

                <div class="feedPage_searchBlock_arrow">
                    <img id="left" src="/images/feed/arrow.png">
                    <img id="right" src="/images/feed/arrow.png">
                </div>

                <form name="search" method="post" class="feedPage_searchBlock_search">
                      <input type="text" size="40"  placeholder="Уведіть ключове слово - місто, посаду" class="search-model">
                    <div class="feedPage_searchBlock_search_triangle"></div>
                </form>

            </div>

        </div>
        <div ng-if="companyFeed">
            <div ng-controller="feedGeneration" class="feed-block" model="user">
                <div class="feedPage_feed"  ng-repeat="post in posts">
                    <div class="feedPage_feed_feedBlock" companyId="{{post._id}}" ng-click="postClick($event)">
                        <div class="feedPage_feed_feedBlock_info">
                            <div class="feedPage_feed_feedBlock_info_title">
                                {{post.firstname}} {{post.secondname}}
                            </div>
                            <div class="feedPage_feed_feedBlock_info_details">
                                <a href="/user/{{post._id}}">{{post.position}}</a>  <a>{{post.city}}</a>   <a>{{normalData(post.dob)}}</a>
                            </div>
                            <div class="feedPage_feed_feedBlock_info_about">
                                {{post.about}}
                            </div>
                            <div class="feedPage_feed_feedBlock_info_about" ng-if="post.study.length!=0">
                                Образование:
                                <div ng-repeat="studyPlace in post.study">
                                    {{studyPlace.university}} c {{normalData(studyPlace.start)}} по {{normalData(studyPlace.end)}}
                                </div>
                            </div>
                            <div class="feedPage_feed_feedBlock_info_about" ng-if="post.work.length">
                                Опыт:
                                <div ng-repeat="workPlace in post.work">
                                    {{workPlace.company}} c {{normalData(workPlace.start)}} по {{normalData(workPlace.end)}}
                                </div>
                            </div>
                        </div>

                        <div class="feedPage_feed_feedBlock_logo">
                            <a href="/user/{{post._id}}"><img ng-src="{{post.img}}"></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div ng-if="!companyFeed">
            <div ng-controller="feedGeneration" class="feed-block" model="company">
                <div class="feedPage_feed"  ng-repeat="post in posts">
                    <div class="feedPage_feed_feedBlock" userId="{{post._id}}" ng-click="postClick($event)">
                        <div class="feedPage_feed_feedBlock_info">
                            <div class="feedPage_feed_feedBlock_info_title">
                                {{post.job}}
                            </div>
                            <div class="feedPage_feed_feedBlock_info_details">
                                <a href="/company/{{post.authorId}}">{{post.authorName}}</a>  |  <a>{{post.city}}</a>  | <a>{{normalData(post.date)}}</a>
                            </div>
                            <div class="feedPage_feed_feedBlock_info_about">
                                {{post.about}}
                            </div>
                        </div>
                        <div class="feedPage_feed_feedBlock_logo">
                            <a href="/company/{{post.authorId}}"><img ng-src="{{img}}"></a>
                        </div>
                    </div>
                    <div class="feedPage_feed_feedBlock" companyId="{{post._id}}" ng-click="postClick($event)" ng-if="post.firstname!=undefined">
                        <div class="feedPage_feed_feedBlock_info">
                            <div class="feedPage_feed_feedBlock_info_title">
                                {{post.firstname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>
