<!DOCTYPE html>
<html ng-app="worklyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vacancy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>

    <script src="/vendor/bower_components/angular/angular.js"></script>
    <script src="/vendor/bower_components/angular-route/angular-route.js"></script>
    <script src="/vendor/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/vendor/bower_components/angular-cookies/angular-cookies.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/headerControllers.js"></script>
    <script src="/js/postCtrl.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style/post.css">
    <link rel="stylesheet" type="text/css" href="/css/style/header.css">
    <link rel="stylesheet" type="text/css" href="/css/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/css-reset.css">
</head>
<body ng-controller="TemplateCtrl" ng-cloak>
    <ng-include src="templatesUrl.header"></ng-include>
    <div class="postPage" ng-controller="postCtrl">
      <!--<img class="postPage_logo" src="/images/mid_logo.png">-->
        <div class="postPage_cards-wrapper">
            <div class="postPage_tiangle"></div>

            <div class="postPage_info">
                <div class="postPage_info_companyInfo">

                    <div class="postPage_info_companyInfo-image">
                        <img style="height:100px" ng-src="{{getSrcCompany()}}">
                    </div>

                    <a href="./company/{{postObj.authorId}}" class="postPage_info_companyInfo-title" ng-if="isPostData('authorName')">
                        {{postObj.authorName}}
                    </a>

                    <div class = "postPage_info_companyInfo_about" ng-if="companyObj.about">
                        {{companyObj.about}}
                    </div>
                </div>

                <div class="postPage_info_jobInfo">
                    <div class="postPage_info_jobInfo_jobTitle" ng-if="isPostData('job')">
                       {{postObj.job}}
                    </div>
                    <div ng-if="isPostData('requirements')">
                        <br>
                        <h1>Необхідні навички</h1>
                        <p>{{postObj.requirements}}</p>
                        <!--<p>володіння HTML і CSS;<br>-->
                        <!--знання JavaScript, JSON, AJAX;<br>-->
                        <!--впевнені знання крос-браузерного і крос-платформного-->
                        <!--веб-програмування;<br>-->
                        <!--знання фреймворку JQuery;<br>-->
                        <!--бажання навчитися розробляти складні клієнтські програми;<br>-->
                        <!--любов до верстки.<br></p>-->
                    </div>
                    <div ng-if="isPostData('responsibilities')">
                        <br>
                        <h1>Обов'язки</h1>
                        <p>{{postObj.responsibilities}}</p>
                        <!--<p>Працювати потрібно буде з ReactJS, Webpack, менше (повний стек тут stackshare.io/...bylab/webbylab, використовуємо ES6 і CommonJS.</p>-->
                    </div>
                    <div  ng-if="isPostData('offer')">
                        <br>
                        <h1>Пропонуємо</h1>
                        <p>{{postObj.offer}}</p>
                        <br>
                        <!--<p>-->
                            <!--місце роботи в самому центрі Києва (3 хв ходьби від ст.м. Театральна.);<br>-->
                            <!--вільний графік;<br>-->
                            <!--привітний колектив;<br>-->
                            <!--оплачувана відпустка 4 тижні<br></p>-->
                    </div>
                    <div ng-if="isPostData('about')">
                        <br>
                        <h1>Про проект</h1>
                        <p>{{postObj.about}}</p>
                    <!--<p>Щоб Вас запросили на співбесіду, разом з резюме надішліть рішення тестового завдання на JavaScript:<br><br>-->
                        <!--Написати клас Dog, який успадковується від клас тварин. Клас тварин має метод GetName (назву можна передати в конструктор). Клас собаки має метод гав (повертає рядок «Собака {dogname} є sayig гав».<br><br>-->
                        <!--Приклад використання:<br><br>-->
                        <!--вар Dog = нова собака («Aban ');<br><br>-->
                        <!--dog.getName () === 'Гарфілд'; // Помилковим<br><br>-->
                        <!--dog.gav () === 'Собака Aban говорить Гав'; // Вірно<br><br>-->
                        <!--Без тестового завдання резюме не розглядаються.<br><br></p>-->
                    </div>
                </div>


            </div>
            <div class="postPage_other">
                <div class="postPage_other_answerButton">
                    <img src="/images/ok.png">Ви вже успішно відгукнулисься на цю вакансію!
                </div>

                <div class="postPage_other_vacansions" ng-if="companyPostsArr.length > 0">
                    <div class="postPage_other_vacansions_title">Інші вакансії у {{postObj.authorName}}</div>

                    <div class="postPage_other_vacansions_list" ng-repeat="post in companyPostsArr"
                         v-if="post._id != postObj._id">

                        <div class="postPage_other_vacansions_block">
                            <a href="/post/{{post._id}}" class="postPage_other_vacansions_block_name">
                               {{post.job}}
                            </a>
                            <div class="postPage_other_vacansions_block_details">
                                {{post.city}} | {{getDatePost(post.date)}}
                            </div>
                        </div>

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--QA Automation Engineer (WoWP)-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Полтава | Вчора-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--Senior HTML5 Developer.-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Луганськ | 3 дні назад-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--Senior Java Developer-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Донецьк | Сьогодні-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--IT Outsourcing Vendor manager-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Запоріжжя | Сьогодні-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--Middle/Senior QA Manual Engineer (World of Warplanes)-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Кривий Ріг | 2 дні назад-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--Business analyst (WOT Generals)-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Харків | Сьогодні-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="postPage_other_vacansions_block">-->
                            <!--<a href="" class="postPage_other_vacansions_block_name">-->
                                <!--Senior 2D/3D Artist (World of Warplanes)-->
                            <!--</a>-->
                            <!--<div class="postPage_other_vacansions_block_details">-->
                                <!--Одеса | Вчора-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
    <ng-include src="templatesUrl.footer"></ng-include>
</body>
</html>
