<!DOCTYPE html>
<html ng-app="worklyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vacancy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>

    <script src="/vendor/bower_components/angular/angular.js"></script>
    <script src="/vendor/bower_components/angular-route/angular-route.js"></script>
    <script src="/vendor/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/vendor/bower_components/angular-cookies/angular-cookies.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/headerControllers.js"></script>
    <script src="/js/postCtrl.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/style/post.css">
    <link rel="stylesheet" type="text/css" href="/css/style/post-question.css">
    <link rel="stylesheet" type="text/css" href="/css/style/header.css">
    <link rel="stylesheet" type="text/css" href="/css/style/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/css-reset.css">
</head>
<body ng-controller="TemplateCtrl" ng-cloak>
    <ng-include src="templatesUrl.header"></ng-include>
    <div class="postPage" ng-controller="postCtrl">
      <!--<img class="postPage_logo" src="/images/mid_logo.png">-->
        <div class="postPage_cards-wrapper">
            <div class="postPage_tiangle"></div>

            <div class="postPage_info">
                <div class="postPage_info_companyInfo">

                    <div class="postPage_info_companyInfo-image">
                        <img style="height:100px" ng-src="{{getSrcCompany()}}">
                    </div>
                    <a href="./company/{{postObj.authorId}}" class="postPage_info_companyInfo-title" ng-if="isPostData('authorName')">
                        {{postObj.authorName}}
                    </a>

                    <div class = "postPage_info_companyInfo_about" ng-if="companyObj.about">
                        {{companyObj.about}}
                    </div>
                </div>

                <div class="postPage_info_jobInfo">
                    <div class="postPage_info_jobInfo_jobTitle" ng-if="isPostData('job')">
                       {{postObj.job}}
                    </div>
                    <div ng-if="isPostData('requirements')">
                        <br>
                        <h1>Необхідні навички</h1>
                        <p>{{postObj.requirements}}</p>
                    </div>
                    <div ng-if="isPostData('responsibilities')">
                        <br>
                        <h1>Обов'язки</h1>
                        <p>{{postObj.responsibilities}}</p>
                    </div>
                    <div  ng-if="isPostData('offer')">
                        <br>
                        <h1>Пропонуємо</h1>
                        <p>{{postObj.offer}}</p>
                        <br>
                    </div>
                    <div ng-if="isPostData('about')">
                        <br>
                        <h1>Про проект</h1>
                        <p>{{postObj.about}}</p>
                    </div>
                </div>
            </div>
            <div class="postPage_other" ng-if="respond || !user">
                <div class="postPage_other_answerButton" ng-if="respond && user">
                    <img src="/images/ok.png">Ви вже успішно відгукнулисься на цю вакансію!
                </div>

                <div class="postPage_other_vacansions" ng-if="companyPostsArr.length > 0">
                    <div class="postPage_other_vacansions_title">Інші вакансії у {{postObj.authorName}}</div>

                    <div class="postPage_other_vacansions_list" ng-repeat="post in companyPostsArr"
                         v-if="post._id != postObj._id">

                        <div class="postPage_other_vacansions_block">
                            <a href="/post/{{post._id}}" class="postPage_other_vacansions_block_name">
                               {{post.job}}
                            </a>
                            <div class="postPage_other_vacansions_block_details">
                                {{post.city}} | {{getDatePost(post.date)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="postPage_other" ng-if="!respond && user">
                <div class="post-question">
                    <span class="post-question-title">Завдання</span>
                    <div class="post-question-test" ng-if="testQuestion.length > 0">
                        <span class="post-question-test-title">Тестове завдання</span>
                        <div ng-repeat="test in testQuestion" class="post-question-item" ng-init="testIndex = $index">
                            <span class="post-question-text post-question-question">{{test.question}}</span>
                            <div class="post-question-range" ng-repeat="ans in test.answers">
                                <img src="/images/empty.png" ng-if="testQuestion[testIndex].ans != $index"
                                     ng-click="checkAns(testIndex, $index)">
                                <img src="/images/check.png" ng-if="testQuestion[testIndex].ans == $index"
                                     ng-click="checkAns(testIndex, $index)">
                                <span class="post-question-text post-question-range-item"
                                        ng-click="checkAns(testIndex, $index)">{{ans}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="post-question-open" ng-if="openQuestion.length > 0">
                        <span class="post-question-open-title">Відкрите запитаня</span>
                        <div ng-repeat="open in openQuestion" class="post-question-item">
                            <span class="post-question-text post-question-question">{{open.question}}</span>
                            <textarea rows="5" placeholder="Відповідь" ng-model="openQuestion[$index].ans"></textarea>
                        </div>
                    </div>
                    <div class="post-question-bt" ng-click="respondPost()">
                        <span>Відгукнуться на вакансію</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="templatesUrl.footer"></ng-include>
</body>
</html>
