<div class="edit" ng-if="getAddStatus()">
    <div class="edit-bg" ng-click="closeAdd()"></div>
    <div class="edit-div">
        <span class="glyphicon glyphicon-remove edit-close" ng-click="closeAdd()"></span>
        <div class="container">
            <div class="page-header">
                <h2>Add {{addName(add.type)}}</h2>
            </div>
        </div>
        <add-necessary></add-necessary>
        <add-other></add-other>
        <form class="form-horizontal login-form" name="login-form" ng-if="isUserAdd()">
            <div><add-work></add-work></div>
            <div><add-study></add-study></div>
        </form>
        <form class="form-horizontal login-form" name="login-form" ng-if="isPostAdd()">
            <div><add-open></add-open></div>
            <div><add-test></add-test></div>
        </form>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit"
                        class="btn btn-success"
                        data-loading-text="Sending..."
                        ng-click="">Save Data</button>
            </div>
        </div>

        <div ng-if="addNotification.status"
             class="alert alert-{{addNotification.type}}"
             role="alert">

            <strong ng-if="addNotification.type == 'danger'">Error! </strong>
            <strong ng-if="addNotification.type == 'info'">{{addNotification.text}}</strong>
            <strong ng-if="addNotification.type == 'success'">Well done! </strong>
        </div>

    </div>
</div>