<div class="search-block">
    <div class="content">
        <span class="title">Знайди свій шлях у IT</span>
        <div class="input-block">
            <div class="input-row">
                <input type="text"
                       class="input"
                       placeholder="Введи потрібну тобі вакансію"
                       ng-model="searchQuery">
                <div class="search-block-bt">
                    <span>Пошук</span>
                </div>
            </div>
        </div>
    </div>
</div>