<div class="competence-search">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default ng-binding" type="button" ng-click="">Find user</button>
        </span>
        <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="Search for user" ng-model="queryCompetence">
    </div>
</div>
<div class="panel panel-default competence-list" ng-if="isData()">
    <ul class="list-group">
        <li class="list-group-item"  ng-repeat="file in dataList | filter:queryCompetence">
            <span>{{file.name}} - {{file.title}}</span>
            <div class="pull-right">
                    <span class = "glyphicon glyphicon-pencil"
                          ng-click="editCompetence(file.name)"></span>
                    <span class = "glyphicon glyphicon-remove"
                          ng-click="removeCompetence($index)"></span>
            </div>
        </li>
    </ul>
</div>
<h3 ng-if="!isData()" class="competence-list">No Data</h3>