<div class="edit" ng-if="isAdd">
    <div class="edit-bg" ng-click="closeAddCompetence()"></div>

    <div class="edit-div">
        <span class="glyphicon glyphicon-remove edit-close" ng-click="closeAddCompetence()"></span>

        <div class="container">
            <div class="page-header">
                <h2>Add Competence</h2>
            </div>
        </div>
        <form class="form-horizontal login-form" name="login-form">
            <div class="form-group">
                <label class="col-lg-2 control-label sign-label">image</label>
                <div class="col-lg-8">
                    <input name='img'
                           type="file"
                           class="img"
                           id="img"
                           ng-fileread='addCompetenceModel["img"]'
                           placeholder="Add img">
                </div>
            </div>
            <div class="form-group" ng-repeat="(key, value) in addCompetenceModel track by key"
                 ng-if="key != 'img'">
                <label for='input-{{key}}' class="col-lg-2 control-label sign-label">{{key}}</label>
                <div class="col-lg-8">
                    <input name='{{key}}'
                           type="{{key}}"
                           ng-model='addCompetenceModel[key]'
                           class="{{key}} form-control"
                           id="input-{{key}}"
                           placeholder="Add {{key}}">
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit"
                        class="btn btn-success"
                        data-loading-text="Sending..."
                        ng-click="sendAddCompetence()">Save Data</button>
            </div>
        </div>

        <div ng-if="addNotification.status"
             class="alert alert-{{addNotification.type}}"
             role="alert">

            <strong ng-if="addNotification.type == 'danger'">Error! </strong>
            <strong ng-if="addNotification.type == 'info'">{{addNotification.text}}</strong>
            <strong ng-if="addNotification.type == 'success'">Well done! </strong>
        </div>

    </div>
</div>