<div class="footer">
    <div class="footer-box">
        <div class="footer_logo_img">
            <div>
                <img src="/images/small_logo.png"/>
            </div>
        </div>
        <div class="footer_bar">
            <div class="footer_email">
                <div class="email-text">З радістю відповімо на всі запитання:</div>
                <div class="email-link">workly@gmail.com</div>
            </div>
            <div class="footer_nav">
                <div class="footer_nav-bar">
                    <a href="#">Про проекти</a>
                    <a href="#">Правила</a>
                    <a href="#">Партнери</a>
                    <a href="#">Контакти</a>
                </div>
                <div class="footer_logo_text">
                    <a href="#"><span class="first_letter">W</span>orkly <span class="logo_date">2015</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
