<div class="footer-container">
    <div class="footer">
        <div class="footer-box">
            <div class="footer_logo_img">
                <div>
                    <img src="/images/small_logo.png"/>
                </div>
            </div>
            <div class="footer_bar">
                <div class="footer_email">
                    <p>З радістю відповімо на всі запитання:</p>
                    <img src="/images/small_email.png"/>
                    <p>workly@gmail.com</p>
                </div>
                <div class="footer_nav">
                    <div class="footer_nav-bar">
                        <a href="#">Про проекти</a>
                        <a href="#">Правила</a>
                        <a href="#">Партнери</a>
                        <a href="#">Контакти</a>
                    </div>
                    <div class="footer_logo_text">
                        <a href="#"><span>W</span>orkly 2015</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>