<div class="landing_banner" ng-controller="isUserLoggedIn">
	<div class="landing_img-wraper">
		<img src="/images/landing.png" class="landing_image">
		<div class="landing_banner_screen">
			<a href="/feed">
                <img src="/images/search.png">
            </a>
		</div>
	</div>

	<div class="landing_banner_logo">
		<img src="/images/logo.png">
	</div>

	<div class="landing_banner_nav" ng-if="!isLoggedIn">
		<a href="/signup">
			<img src="/images/sign-up.png">
			Зареєструватись
		</a>
		<a href="/signin">
			<img src="/images/sign-in.png">
			Увійти
		</a>
	</div>

    <div class="landing_banner_nav" ng-if="isLoggedIn">
        <a href="/signin">
            <img src="/images/sign-in.png">
            {{user}}
        </a>
    </div>


	<div class="landing_banner_text">
		<div class="landing_banner_text-wrapper">
			<span>Шукаєш Свій Шлях в IT?
				<h2>Кожен день безліч компаній відкривають вакасії стажування та практик. Вони шукать саме тебе.</h2>
			</span>
			
		</div>
	</div>
</div>

<div class="landing_info">
	<div class="landing_info_help">
		<span>Що ми можемо запропонувати</span>
		<div class="landing_info_help_help-block_small_wrapper">
			<div class="landing_info_help_help-block">
				<span>Фахівцю</span>
				<span>Роботодавцю</span>

				<div class="landing_info_help_help-block_small-line">
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Пошук</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagesearch-1"></span>
								</div>
								Шукайте потрубних вам фахвців за допомою пошуку.
							</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Повідомлення</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagemessage"></span>
								</div>
								Відслідковуйте претиндентів на вашу посаду.
							</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Cтворити</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagecreate"></span>
								</div>
								Зручна система допоможе тобі просто і швидку відкрити нову вакансію.</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Тести</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagetests"></span>
								</div>
								Створіть тестові  завдання, для перевірити претиндентівю.
							</h2>
						</div>
					</div>
				</div>
			</div>


			<div class="landing_info_help_help-block">
				<div class="landing_info_help_help-block_small-line">
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Новини</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagekeep"></span>
								</div>
								Щодня нові компанії відкривають вакансії саме для тебе. Cтеж і відгукується на них.
							</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Підписка</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagesubscribe"></span>
								</div>
								Підписуйся на оновлення потрібної тобі компанї і будь у курсі нових посад.
							</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Пошук</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imagesearch-2"></span>
								</div>
								Пошук доможе знайти необхідну інформацію – посади у твоєму місті,чи певній компанії.
							</h2>
						</div>
					</div>
					<div class="landing_info_help_help-block_small">
						<div class="landing_info_help_help-block_small_about">
							<h1>Резюме</h1>
							<h2>
								<div class="landing_info_help_help-block_small_image-wrapper">
									<span class="landing_info_help_help-block_small_imageresume"></span>
								</div>
								Резюме невідємна скаладова будьякого фахівця. Створюй та розміщай його у нас на сайті.
							</h2>
						</div>
					</div>
				</div>
		</div>
	</div>
		<span>Наші Партнери</span>
		<div class="landing_info_help_partner-list">
			<div class="landing_info_help_partner-list_img-wrapper-big">
					<a href="#/company/54e9cc04718bd1f00ec0d510"><img src="/images/partners/ciklum.png"></a>

                    <a href="#/company/54e9cc04718bd1f00ec0d510"><img src="/images/partners/epam.png"></a>

                    <a href="#/company/54e9cc04718bd1f00ec0d510"><img src="/images/partners/global-logic.png"></a>

                    <a href="#/company/54e9cc04718bd1f00ec0d510"><img src="/images/partners/luxoft.png"></a>
			</div>
		</div>
	</div>
</div>