<control-line></control-line>

<h4 ng-if="!isData()">{{dataObj.message}}</h4>
<div class="panel panel-default" ng-if="isData()">
    <ul class="list-group">
        <li class="list-group-item"  ng-repeat="company in dataObj.data">
            <span>{{company.mail}} - {{company.companyName}}</span>
            <div class="pull-right">
                <span class = "glyphicon glyphicon-home"
                      ng-click="authItem($event, $index)"></span>
                <span class = "glyphicon glyphicon-pencil"
                      ng-click="editItem($event,$index)"></span>
                <span class = "glyphicon glyphicon-remove"
                      ng-click="deleteItem($event,$index)"></span>
            </div>
        </li>
    </ul>
</div>

