<control-line></control-line>

<h4 ng-if="!isData()">{{dataObj.message}}</h4>
<div class="panel panel-default" ng-if="isData()">
        <ul class="list-group">
            <li class="list-group-item"  ng-repeat="user in dataObj.data">
                <span>{{user.mail}} - {{user.firstname}} {{user.secondname}}</span>
                <div class="pull-right">
                    <span class = "glyphicon glyphicon-pencil"
                          ng-click="editItem($event,$index)"></span>
                    <span class = "glyphicon glyphicon-remove"
                          ng-click="deleteItem($event,$index)"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

