@font-face
  font-family Pacifico
  font-style normal
  src url(/fonts/Pacifico.ttf)

@font-face
	font-family PTsans
	src url(/fonts/PTsans/PT_Sans-Web-Regular.ttf)

@font-face
  font-family OpenSans
  src url(/fonts/OpenSans/OpenSans-Regular.ttf)

input:required
  box-shadow: none

input:invalid
  box-shadow: none


