body
  padding: 66px
  background-color: #dedede
  font: 14px "PT Sans", Helvetica, Arial, sans-serif

h1
  font-size: 24px

.first
  background-color: #dedede

.second
  background-color: red
  &.h1
    font-size: 8px

