html, body
  height 100%
  width 100%

.logo
  position absolute
  margin-top 5%
  margin-left 10%

.main
  position relative
  top 35%
  transform translateY(-50%)
  img
    padding-top 120px
    margin 0 auto
    width 250px
    padding-bottom 30px
    display: block
  h1
    position relative
    margin-top 10px
    text-align center
    font-size 30px
    color #565656
    font-family "PT Sans Caption", sans-serif
  a
    line-height 40px
    color #74ae80
    font-size 18px
    display: block
    text-align center
    text-decoration none
    font-family "Open Sans", sans-serif
    &:hover
      text-decoration underline

