.post-container
  display block
  width 100%
  max-width 1100px
  margin auto

.post-headtext
  display block
  font normal 24px "OpenSans"
  padding 50px 0px 30px
  color rgb( 116, 174, 128 )
  height 30px
  line-height 30px

.post
  display table
  width 100%
  margin-bottom 90px

.post_form
  display inline-block
  position relative
  vertical-align top
  user-select none
  font bold 18px "OpenSans"
  width 49%
  background-color rgb( 239, 239, 239 )
  &::before
     display block
     position absolute
     top -16px
     left 40px
     content ' '
     background rgb( 239, 239, 239 )
     width 36px
     height 36px
     transform rotate(45deg)
  & .post_form-input
    display block
    margin 0px 10%
    padding 20px 0
    font normal 14px "OpenSans"
    & .post_form-text
      font bold 18px "OpenSans"
      color rgb( 86, 86, 86)
      margin 7px 0 20px 0
      &::before
         display inline-block
         vertical-align top
         content ' '
         height 22px
         width 16px
         background url('/images/create-post/general_info.png') center no-repeat
         background-size cover
    & input
      display block
      box-sizing border-box
      font inherit
      width 100%
      height 25px
      padding 0px 7px
      margin 10px 0px
      outline none
      border none
      color rgb( 86, 86, 86 )
      &.ng-dirty.ng-invalid
        box-shadow 0px 0px 5px 1px rgb( 200, 50, 50 )
    & textarea
      display block
      box-sizing border-box
      resize vertical
      font inherit
      width 100%
      height 95px
      padding 2px 7px
      margin 10px 0px
      outline none
      border none
      &.ng-dirty.ng-invalid
        box-shadow 0px 0px 5px 1px rgb( 200, 50, 50 )
  & button
    display block
    cursor pointer
    user-select none
    font normal 16px "Open Sans"
    width 100%
    height 32px
    line-height 32px
    margin 20px 0px
    text-align center
    border none
    outline none
    border-radius 5px
    background-color rgb( 109, 199, 128 )
    box-shadow 0px 4px 1px 0px rgb( 51, 176, 97 )
    color rgb( 255, 255, 255 )
    &:hover
      background-color rgb( 51, 176, 97 )
    &:active
      margin 25px 0px 15px 0px
      box-shadow 0px 4px 1px 0px rgb( 14, 129, 21 )
  & .form-error
    position absolute
    top 103%
    display block
    text-align center
    width 100%
    height 40px
    font normal 16px "OpenSans"
    color rgb( 255, 255, 255 )
    line-height 40px
    border-radius 5px
    background-color rgb( 218, 109, 109 )
    &.ng-hide-add
      transition all linear .7s
      display block!important
    &.ng-hide-remove
      transition all linear .7s
      display block!important
    &.ng-hide-add.ng-hide-add-active
      opacity 0
    &.ng-hide-remove
      opacity 0
    &.ng-hide-add
      opacity 1
    &.ng-hide-remove.ng-hide-remove-active
      opacity 1
    & span
      position absolute
      display block
      left 15%
      top -11px
      width 28px
      height 28px
      background-color inherit
      border-radius 4px
      transform rotate(45deg)
      &::before
        content '!'
        display block
        width 23px
        height 23px
        margin-left 14px
        margin-top 14px
        font normal 17px "OpenSans"
        color rgb( 218, 109, 109 )
        border-radius 50%
        background-color rgb( 255, 255, 255 )
        transform rotate(-45deg)

.post_tests
  position relative
  display inline-block
  vertical-align top
  float right
  user-select none
  width 49%
  padding 20px 0
  font bold 18px "OpenSans"
  background-color rgb( 239, 239, 239 )
  & .range
    display block
    width 100%
    height 14px
    background url('/images/create-post/link.png') center repeat-x
  & .test-wrap
    display block
    margin 0 10%
  & .test-text
    font bold 18px "OpenSans"
    color rgb( 86, 86, 86)
    margin 7px 0 20px 0
    &::before
      display inline-block
      vertical-align top
      content ' '
      height 22px
      width 22px
      background url('/images/create-post/tests.png') center no-repeat
      background-size cover
  & .test-add
    font normal 16px "OpenSans"
    cursor pointer
    color rgb( 86, 86, 86)
    margin-bottom 15px
    & span
      margin-left 15px
      text-decoration underline
      font inherit
      color rgb( 116, 174, 128)
  & .test
    display block
    font normal 16px "OpenSans"
    width 100%
    padding-bottom 15px
    & .test_head
      font italic 16px "OpenSans"
      color rgb( 86, 86, 86)
      margin 15px 0 15px 0
      & span
        display inline-block
        float right
        text-align center
        cursor pointer
        font normal 14px "OpenSans"
        color rgb( 255, 255, 255 )
        height 21px
        line-height 21px
        padding 0 12px
        border-radius 3px
        background-color rgb( 218, 109, 109 )
        box-shadow: 0px 4px 1px 0px rgb( 191, 79, 79 );
        &:hover
          background-color rgb( 196, 81, 81 )
    & textarea
      display block
      box-sizing border-box
      resize vertical
      font inherit
      width 100%
      height 65px
      padding 2px 7px
      border-radius 3px
      border none
      outline none
    & .test_control
      position relative
      width 100%
      font normal 16px "OpenSans"
      color rgb( 86, 86, 86)
      margin 15px 0 15px 0
      & .test_add
        display inline-block
        float right
        width 22px
        height 22px
        font bold 20px "OpenSans"
        cursor pointer
        text-align center
        color rgb(255, 255, 255)
        line-height 22px
        background rgb( 116, 174, 128 )
        border-radius 50%
      & input[type="checkbox"]
        display inline-block
        opacity 0
        cursor pointer
        position absolute
        width 16px
        height 16px
        margin 1px 0px
        &:checked + span
          background rgb( 116, 174, 128 ) url('/images/create-post/mark.png') center no-repeat
      & span
        display inline-block
        vertical-align middle
        width 16px
        height 16px
        margin 1px 0px
        border-radius 3px
        background rgb( 116, 174, 128 )
      & .test_tip
        display inline-block
        vertical-align middle
        cursor pointer
        font normal 12px "OpenSans"
        text-align center
        color rgb( 255, 255, 255 )
        width 16px
        height 16px
        margin 1px 0px
        line-height 16px
        background-color rgb( 116, 174, 128 )
        border-radius 50%
        &:hover + .tip
          display block
      & .tip
        display none
        top 30px
        left 29.5%
        position absolute
        padding 2px
        font normal 12px "OpenSans"
        color rgb( 255, 255, 255 )
        width 227px
        height 70px
        background-color rgb( 116, 174, 128 )
        border-radius 3px
        &::after
           display block
           top -4px
           left 195px
           content ' '
           position absolute
           width 18px
           height 18px
           background-color rgb( 116, 174, 128 )
           transform rotate(45deg)
      & .test_tip-text
        display inline-block
        vertical-align middle
        height 18px
        line-height 18px
    & .test_variant
      display table
      width 100%
      font inherit
      padding 0px
      margin 10px 0 10px 0
      border none
      & .table-cell_wrap
        display table-cell
        vertical-align middle
        margin 0px
        padding 0px
      & .test_variant_del
        display inline-block
        float right
        width 22px
        height 22px
        font bold 20px "OpenSans"
        cursor pointer
        text-align center
        color rgb(255, 255, 255)
        line-height 22px
        background-color rgb( 218, 109, 109 )
        border-radius 50%
      & input
        display table-cell
        box-sizing border-box
        vertical-align middle
        font inherit
        width 100%
        height 28px
        padding 2px 7px
        border none
        outline none
        border-radius 3px
      & .test_variant_select
        position relative
        display inline-block
        box-sizing border-box
        vertical-align middle
        width 22px
        height 22px
        cursor pointer
        border 2px solid rgb( 116, 174, 128 )
        border-radius 50%
        & input[type="radio"]
          display block
          opacity 0
          margin 0
          cursor pointer
          position absolute
          width 18px
          height 18px
          &:checked + span
            background rgb( 116, 174, 128 ) url('/images/create-post/mark.png') center no-repeat
        & span
          display block
          width 18px
          height 18px
          border-radius 50%
          background rgb( 255, 255, 255 )



