@import "sprite.styl"
na8 = 12.5%


.landing_banner
	width 100%

.landing_img-wraper
	position relative
	width 100%
	border-bottom solid 3px #74ae80
	user-select none
	line-height 0
.landing_image
	width 100%
	position relative
	z-index -1


.landing_banner_logo
	position absolute
	top 0
	z-index 10
	>img
		margin 18px 0 0 125px
.landing_banner_text
	width 100%
	padding-top 85px
.landing_banner_text-wrapper
	text-align center
	position absolute
	top 130px
	width 100%
	>span
		font-family OpenSans
		font-weight bold
		font-size 60px
		color #74ae80
		display block
		>h2
			font-family OpenSans
			font-size 24px
			color #fff
			width 50%
			line-height: 33px
			font-weight normal
			margin 35px 25%
.landing_banner_nav
	top 18px
	text-align right
	margin-right 125px
	position absolute
	width 100%
	>a
		margin 0 15px 0 0
		font-family OpenSans
		font-size 18px
		color #fff
		text-decoration none
.landing_banner_screen
	border-radius 30px 30px 0 0
	background white
	margin 0 auto
	margin-top -353px
	display block
	width na8*5
	z-index 23
	height 350px
	border-top solid 3px #74ae80
	border-left solid 3px #74ae80
	border-right solid 3px #74ae80
	box-shadow 0px 6px 0px -3px white
	text-align center
	a
		height 100%
		display block
		img
			margin 55px 0
.landing_banner_screen_img
	position: absolute
	transform: translate(-50%, -100%)
	left: 50%
	margin-top: 16px
.landing_info
	display block
	position relative
.landing_info_help
	text-align center
.landing_info_help_help-block_small_about
	>h1
		font-family OpenSans
		font-size 18px
		color #4eb07f
		font-weight bold
		margin-bottom 10px
	>h2
		font-family OpenSans
		font-size 14px
		color #565656
		line-height 18px
.landing_info_help_help-block_small_wrapper
	width na8*6
	margin 0 na8
.landing_info_help
	>span
		font-family OpenSans
		font-weight bold
		font-size 30px
		color #74ae80
		display block
.landing_info_help_help-block
	width 100%
	text-align left
	>span
		font-family OpenSans
		font-size 24px
		color #565656
		font-weight bold
		margin-left 400px
	>span:first-child
		margin-left 63px

.landing_info_help_help-block:first-child
	margin-right 20px
	margin-top 50px
.landing_info_help_help-block_small-line
	margin-bottom 40px
	margin-top 20px
	width 100%
.landing_info_help_help-block_small
	width na8*1.5
	display table-cell
	text-align left
.landing_info_help_help-block_small_about
	width 67%
	margin-left 25%
.landing_info_help_help-block_small_image-wrapper
	float left
	position absolute
.landing_info_help_partner-list
	display inline-block
.landing_info_help_partner-list_img-wrapper-big
	img
		display: inline-block;
		vertical-align: middle;
		margin 0 20px
.landing_info_help_partner-list_img-wrapper-big
	display block
	height 100px
@media (max-width: 1200px)
	.landing_banner_screen_img
		display none
.landing_info_help_partner-list_img-wrapper-big:before
	content ' '
	display inline-block
	vertical-align middle
	height 100%
	max-height 100%