.post-question
  width 425px
  padding 30px
  box-sizing border-box
  border-radius 3px
  background-clip padding-box
  background-color #f9f9f9
  &-title
    color #555
    font-family "Open Sans", sans-serif
    font-size 18px
    font-weight bold
    margin-left 30px
    margin-bottom 30px
    display block
    &:before
      content ''
      width 19px
      height 19px
      margin-left -30px
      background-size 19px 19px
      position absolute
      background-image url('/images/test.png')

  &-item
    margin-bottom 10px

  &-test
  &-open
    margin-bottom 15px
    &-title
      display block
      color #555
      font-family "Open Sans", sans-serif
      font-size 14px
      font-style italic
      margin-bottom 15px
  &-text
    color #555
    font-family "Open Sans", sans-serif
    font-size 14px
    line-height 22px
  &-question
    display block
    margin-bottom 10px

  &-range
    margin-top 5px
    &-item
      cursor pointer
    img
      cursor pointer
      position relative
      top 4px
      margin-right 5px
      width 19px
      height 19px


  textarea
    outline: none
    resize: none
    width 96%
    padding 5px
    border none
    color #555
    margin-top 10px
    font-family "Open Sans", sans-serif
    font-size 14px
    margin-bottom 10px

  &-bt
    width 365px
    height 27px
    border-radius 3px
    background-clip padding-box
    background-color #6dc77f
    box-shadow 0 4px 1px #33af61
    cursor pointer
    text-align center
    &:hover
      background-color #33af61
    &:active
      box-shadow none
      top: 4px
      position: relative
    span
      display: block
      color #fff
      font-family "Open Sans", sans-serif
      font-size 14px
      font-weight bold
      line-height 27px




