.postPage
	width 100%
.postPage_logo
	left 135px
	top 20px
	position absolute
	z-index 10

.postPage_cards-wrapper
	margin-top 85px
	margin-left 200px
	position relative
.postPage_info
	width 600px
	display inline-block
	position relative
	padding-bottom 40px
	margin-bottom 80px
	background-color #f9f9f9
	border-radius 29px 5px 5px
	float left
	z-index 1
.postPage_info_companyInfo
	margin-left 40px
	margin-right 40px
	margin-top 40px
	padding-bottom 20px

.postPage_info_companyInfo-image
	display inline
	float left

.postPage_info_companyInfo-image
	padding-bottom 1px
	padding-right 20px

.postPage_info_companyInfo-title
	font-family "Open Sans"
	font-size 24px
	color #74ae80
	vertical-align top
	display inline
.postPage_info_companyInfo_about
	font-family "Open Sans"
	font-size 12px
	color #565656
	margin-left 125px
	margin-top 10px
.postPage_info_jobInfo_jobTitle
	font-family "Open Sans"
	font-size 24px
	color #565656
	font-weight bold
.postPage_info_jobInfo
	margin 0 40px
	h1
		font-family "Open Sans"
		font-size 18px
		color #565656
		padding-bottom 10px
		font-weight bold
	p
		font-family "Open Sans"
		font-size 14px
		color #565656
		line-height 16px

.postPage_other
	width 425px
	height 600px
	position relative
	clear both
	display inline-block
	margin-left 20px

.postPage_other_answerButton
	border-radius 3px
	font-family "Open Sans"
	color #ffffff
	font-size 16px
	background #6dc780
	line-height 50px
	text-align center
	img
		vertical-align middle
		margin 0 7px

.active
	cursor pointer

.postPage_other_vacansions
	margin-top 25px
	border-radius 3px
	background-color #f9f9f9
.postPage_other_vacansions_title
	font-family "Open Sans"
	font-size 18px
	color #565656
	padding-top 40px
	padding-bottom 20px
	margin-left 25px
.postPage_other_vacansions_list
	margin-left 25px

.postPage_other_vacansions_block_name
	font-family "Open Sans"
	font-size 14px
	color #74ae80
.postPage_other_vacansions_block_details
	font-family "Open Sans"
	font-size 12px
	font-style italic
	padding-top 5px
	color #565656
.postPage_other_vacansions_block
	padding-bottom 15px
.postPage_tiangle
	width 0
	height 0
	border-top: 30px solid #fff
	border-right 30px solid #6dc780
	z-index 2
	position absolute
