.post-info
  width 75%
  margin 0 auto
  .user-block
  .ans-block
    padding-top 100px
    position absolute
    overflow scroll
    height 100%
    width 35%
    padding-right 50px
    box-sizing border-box
  .ans-block
    left 50%
  &-user
    margin-bottom 20px
    display block
    cursor pointer
    box-sizing border-box
    padding 20px
    border-top 1px #fff solid
    border-left 1px #fff solid
    border-right 1px #fff solid
    border-bottom 1px #74ad7f solid
    &:hover
      border 1px #74ad7f solid
      background-color rgba(220,249,218, .2)
  .active
    border 1px #74ad7f solid
    background-color rgba(220,249,218, .2)
  .name
    display inline-block
    color #73ad7f
    font-family "Open Sans", sans-serif
    font-size 18px
    position relative
    top: 5px
    margin-bottom 7px
    vertical-align top
    text-decoration none
    &:hover
      text-decoration underline
  .user-title
    margin-bottom 20px
    color #555
    font-family "Open Sans", sans-serif
    font-size 24px
    display block
  .user-img
    width 30px
    height 30px
    margin-right 10px
    border-radius 100px
    display inline-block
  .result
    float right
    color #555
    font-family "Open Sans", sans-serif
    font-size 18px
    position relative
    top 5px
  .green
    color #73ad7f
  .red
    color #ff5d5f
    text-decoration: line-through

.green-arrow
  padding-top 40px !important
  &:before
    content ''
    width 0
    height 0
    border-top 30px solid #fff
    border-right 30px solid #6dc780
    z-index 2
    margin-top: -40px
    margin-left: -30px
    position absolute
