.signup-container
  display block
  width 100%
  max-width 1000px
  margin auto

.signup-state
  position relative
  height 90px
  width 100%
  font bold 21px "OpenSans"
  & img
      display inline-block
      vertical-align middle
  & div
      display inline-block
      vertical-align middle
      text-align center
      color rgb( 116, 174, 128 )
  & .signup-state_actual
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%);
  & .signup-state_circle
      border-radius 50%
      background-color rgb( 255, 255, 255 )
      border 2px solid rgb( 116, 174, 128 )
      width 36px
      height 36px
      line-height 36px
  & .active-circle
      background-color rgb( 116, 174, 128 )
      color rgb( 255, 255, 255 )
  & .small
      border 2px solid rgb( 116, 174, 128 )
      width 5px
      height 5px

.signup-headtext
  font bold 24px "OpenSans"
  margin-top 30px
  color rgb( 116, 174, 128 )
  height 30px
  line-height 30px
  & span
      color rgb( 86, 86, 86 )

.signup
  display table

.signup_form
  display inline-block
  vertical-align top
  font bold 18px "OpenSans"
  width 50%
  background-color rgb( 239, 239, 239 )
  & .signup_form-menu
      display block
      background-color rgb( 255, 255, 255)
      color rgb( 86, 86, 86 )
      & div
          display inline-block
          width 30%
          height 60px
          line-height 60px
      & a
          color rgb( 86, 86, 86 )
  & .signup_form-bar
      display block
      background-color rgb( 255, 255, 255)
      color rgb( 86, 86, 86 )
      & div
          display table-cell
          width 100%
          height 60px
          line-height 60px
      & a
          display table-cell
          height 60px
          line-height 60px
          font-weight normal
          text-decoration underline
          color rgb( 86, 86, 86 )
  & .signup_form-input
      display block
      margin 0px 15%
      padding 20px 0
      font normal 14px "OpenSans"
      & input
          display block
          outline none
          box-sizing border-box
          width 100%
          height 25px
          padding 0px 7px
          margin 15px 0px
          color rgb( 86, 86, 86 )
      & .agreement
          display table
          color rgb( 86, 86, 86 )
          & div
              display table-cell
          & input[type="checkbox"]
              display table-cell
              vertical-align top
              padding 0
              margin 3px
              width 19px
              height 19px
      & .logo-box
          display block
          box-sizing border-box
          height 92px
          width 100%
          border 2px dashed rgb( 202, 202, 202 )
          border-radius 5px
      & .logo-load
          display block
          width 100%
          text-align right
          & span
              display inline-block
              text-align center
              font normal 14px "OpenSans"
              padding 0 10px
              margin 10px
              height 22px
              line-height 22px
              width auto
      & .avatar-box
          display table
          width 100%
      & .avatar
          display table-cell
          padding-right 30px
          vertical-align top
          & .avatar-frame
              border 2px dashed rgb( 202, 202, 202 )
              border-radius 5px
              width 92px
              height 92px
          & .avatar-text
              font normal 14px "OpenSans"
              margin 10px 0px
              height 22px
              line-height 22px
      & .right-input
          display table-cell
          width 100%
          vertical-align top
          & input
              margin 0px 0px 10px 0px
      & textarea
          font normal 14px "OpenSans"
          box-sizing border-box
          padding 1% 2%
          width 100%
          height 60px
          outline none
      & .add-place
          font-weight bold
          color rgb( 116, 174, 128 )
          & div
              display inline-block
              cursor pointer
              font-weight normal
              font-style italic
              text-decoration underline
              color rgb( 86, 86, 86 )
      & .place-block
          display block
          & .place-table
              display table
              width 100%
              & span
                  display inline-block
                  font normal 14px "OpenSans"
                  padding 0px
                  margin 0px
                  height 24px
                  line-height 24px
                  border-radius 5px
                  background-color rgb( 218, 109, 109 )
                  box-shadow 0px 4px 1px 0px rgb( 196, 81, 81 )
                  &:hover
                    background-color rgb( 196, 81, 81 )
              & div
                  display table-cell
                  padding 10px
              & input
                  display table-cell
                  margin 0px
          & .date
              display table-cell
              width 100%
          & .date-sep
              display table-cell
              text-align center
  & span
      display block
      cursor pointer
      font-size 16px
      width 100%
      height 32px
      line-height 32px
      margin 20px 0px
      text-align center
      border-radius 5px
      background-color rgb( 109, 199, 128 )
      box-shadow 0px 4px 1px 0px rgb( 51, 176, 97 )
      color rgb( 255, 255, 255 )
      &:hover
        background-color rgb( 50, 172, 95 )


.signup_info
  display inline-block
  vertical-align top
  font-family "OpenSans"
  float right
  width 40%
  background-color rgb( 239, 239, 239 )
  & .signup_info-box
      margin 0px 10%
      & .signup_whyhead
          min-width 205px
          font-size 18px
          font-weight bold
          color rgb( 86, 86, 86 )
          height 60px
          line-height 60px
      & .signup_whyexp
          display table
          font-size 14px
          margin 30px 0px
          & div
              display table-cell
              vertical-align top
              margin 0px 10px
          & span
              color rgb( 116, 174, 128 )
          & .signup-state_circle
              display block
              font-size 21px
              font-weight bold
              color rgb( 116, 174, 128 )
              text-align center
              background-color transparent
              border-radius 50%
              border 2px solid rgb( 116, 174, 128 )
              width 36px
              height 36px
              line-height 36px
    & .signup_conviction
        margin-bottom 30px
        font-size normal 14px "OpenSans"
        color: rgb( 86, 86, 86 );
        & div
            margin 30px 0px 15px 0px
            font bold 18px "OpenSans"

.congratulation
  display block
  padding 50px 0
  font normal 24px "OpenSans"
  text-align  center
  color rgb( 116, 174, 128 )
  & .head-text
      font bold 36px "OpenSans"
  & .text-gray
      color rgb( 86, 86, 86 )
  & a
      display block
      color inherit
      text-decoration underline
      height 60px
      line-height 60px






